<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Cześć <b>{{name}}</b>,</p>
        <p>Otrzymaliśmy prośbę o zresetowanie hasła.</p>
        <p>Do ustawienia nowego hasła dla Swojego konta wykorzystaj poniższy kod.</p>
        <p>Kod resetujący: <b>{{resetCode}}</b></p>
    </body>
</html>